<div id="signup" style="display: none;">
    <h1>Signup</h1>
    <p>
        Please fill in e-mail, username and password
    </p>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="signup_email">
                <label class="mdl-textfield__label" for="signup_email">e-mail</label>
                <p id="email_error" class="error" style="display: none;"></p>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--6-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="signup_username">
                <label class="mdl-textfield__label" for="signup_username">Username</label>
                <p id="username_error" class="error" style="display: none;"></p>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--6-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="signup_firstname">
                <label class="mdl-textfield__label" for="signup_firstname">First name</label>
                <p id="firstname_error" class="error" style="display: none;"></p>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--6-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="signup_insertion">
                <label class="mdl-textfield__label" for="signup_insertion">insertion</label>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--6-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="signup_lastname">
                <label class="mdl-textfield__label" for="signup_lastname">Last name</label>
                <p id="lastname_error" class="error" style="display: none;"></p>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--6-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="password" id="signup_password">
                <label class="mdl-textfield__label" for="signup_password">Password</label>
                <p id="password_error" class="error" style="display: none;"></p>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--6-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="password" id="signup_repassword">
                <label class="mdl-textfield__label" for="signup_repassword">re-enter Password</label>
                <p id="repassword_error" class="error" style="display: none;"></p>
            </div>
        </div>
    </div>
</div>