<div id="signup" style="display: none;">
    <h1>Signup</h1>
    <p>
        Please fill in e-mail, username and password
    </p>
    <div class="mdl-cell mdl-cell--6-col loginLabel">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="signup_email">
            <label class="mdl-textfield__label" for="signup_email">e-mail</label>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col loginLabel">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="signup_username">
            <label class="mdl-textfield__label" for="signup_username">Username</label>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col loginLabel">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="password" id="signup_password">
            <label class="mdl-textfield__label" for="signup_password">Password</label>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col loginLabel">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="password" id="signup_repassword">
            <label class="mdl-textfield__label" for="signup_repassword">re-enter Password</label>
        </div>
    </div>
</div>