.login {
    margin-top: 7%;
    background-color: white;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 0 50px -10px;
}

.loginLabel {
    float: left;
}

body{
    background-color: lightgray;
}

td{
    height: 50px;
    width: 50px;
    border: 1px;
    background-color: white;
    text-align: center;
    vertical-align: center;
    
}

table{
   table-layout: fixed;
   width: 100%;
}
