.login {
    margin-top: 7%;
    background-color: white;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 0 50px -10px;
}

.loginLabel {
    float: left;
}

body{
    background-color: lightgray;
}
.error{
    color:red;
    font-size: 10px;
    margin-bottom: -24px;
}
.mdl-textfield__label{
    top: 2px;
}